<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Capa_Datos.Properties.Settings.Clase1_4to_24_04ConnectionString"
   connectionString="Data Source=DESKTOP-MSQV4I5;Initial Catalog=Clase1_4to_24_04;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>